<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <title>Mehmet Aydın Baytaş</title> 
      <meta name="description" content="Dr. Mehmet Aydın Baytaş is a scholar of design." />
      <link rel="canonical" href="https://mbaytas.github.io/" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    
    <!-- Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/egm0lqu.css">
    
    <style>
      body {
        font-family: neue-haas-grotesk-text;
      }
      h1, h2, h3, h4 {
        font-family: neue-haas-grotesk-display;
      }
      body {
        color: #fff;
        background-color: #000;
      }
      a {
        color: #00d4ff;
        transition: .25s color cubic-bezier(.455,.03,.515,.955);
      }
      a:hover {
        color: #eee;
      }
      .container {
        margin: 0;
      }
    </style>
    
  </head>
  <body>
    <div class="container markdown-body p-3">

      {{ content }}

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
